**Data Types and Structures Questions**

1. What are data structures, and why are they important?
   - Data Strucures: Data Structues are ways of organizing and storing data so
     that can be accessed and worked with efficiently.
   - They are important because Efficiency, Scalability, Clean Code, Problem
     Solving, Real-World Applications.

2. Explain the difference between mutable and immutable data types with
   examples?
   - Mutable data type: Mutable data type are those data type we can change
     after we created.
   - Example: list, dictionary, set.
   - Immutable data type: Immutable data type are those data type we can not
     change after we created.
   - Example: tuple, string.

3. What are the main differences between lists and tuples in Python?
   - Lists is mutable.
   - Tuples ia immutable.

4. Describe how dictionaries store data?
   - Dictionaries Store data in a Keys - Values Pair.

5. Why might you use a set instead of a list in Python?
   - because of Set is Faster Membership Testing, Automatic Deduplication,
     Efficient Set Operations, Optimized for Unordered Unique Data.

6. What is a string in Python, and how is it different from a list?
   - String is an immutable sequence of Unicode characters.
   - String write as inside the Single (' '), Double(" "), or Triple quotes('''
     ''').
   - List is a mutable, ordered, collection of items, where numbers, strings
     etc.

7.  How do tuples ensure data integrity in Python?
    - Tuple in python ensure data integrity primarily through their
      immutability. Once a tuple created, its elements can't be modified.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that implemented an associative array,
     mapping keys to values for efficient data retrieval.
   - In Python, a dictionary is a built-in data structure that is implemented  
     using a hash table under the hood.

9. Can lists contain different data types in Python ?
   - Yes, Lists contain different data types in python i.e String, integer,
     float, boolean.

10. Explain why strings are immutable in Python?
    - String in Python are immutable, meaning their contents cannot be changed
      after they are created.
    - Consistency with Hashability.
    - Data integrity and Safety.
    - Performance Optimization.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries and lists in python are both versatile data Structure, but
      dictionaries offer advantages over lists for certain tasks due to their key-value structure and hash table implementation.

12. Describe a scenario where using a tuple would be preferable over a list?
    - Create a aadhar card data.
    - Create a high school result.

13. How do sets handle duplicate values in Python?
    - In python sets are unordered collections of unique, hashable elements.
      They automatically handle duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries?
    - "in" keyword checks is a value is present in the list by comparing it
      against each element in the list.
    - "in" keywords checks if a key exists in the dictionary, not a value
      (unless explicity checking values with dict.values()).

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, We do not modify the elements of a tuple because tuple is a immutable.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary in python is a dictionary that contains one or more
      dictionaries as values for its keys.

In [68]:
# Example
dict = {"a": {"name" : "Neeraj", "age" : 24},
        "b": {"fruit" : "Apple", "Vegetable" : "Mango"}
}
print(dict)

{'a': {'name': 'Neeraj', 'age': 24}, 'b': {'fruit': 'Apple', 'Vegetable': 'Mango'}}

17. Describe the time complexity of accessing elements in a dictionary.
    - The Time complexity of accessing an element in a python dictionaries is O
      (1) in the averag case O(n) in the wrost case.

18. In what situations are lists preferred over dictionaries?
    - They are often less preferred than dictionaries in situations where fast
      key - based access, unique key - value mappings, or hierarchical data organization are required.

19. Why are dictionaries considered unordered, and how does that affect data
   retrieval?
    - In Python, dictionaries are considered ordered since Python 3.7.
    - Hash Table Implementation
    - data retrival in dictionaries involves accessing values by keys.

20. Explain the difference between a list and a dictionary in terms of data
  retrieval.
    - Lists retrived by integer index.
    - Dictionary retrived by keys.

**Practical Questions**

1. Write a code to create a string with your name and print it?

In [33]:
my_name = "Neeraj Shukla"
print(my_name)
print(type(my_name))

Neeraj Shukla
<class 'str'>

2. Write a code to find the length of the string "Hello World".

In [34]:
leng = "Hello World"
print(leng)
print(len(leng))

Hello World
11

3. Write a code to slice the first 3 characters from the string "Python
   Programming"

In [35]:
sli = "Python Programming"
print(sli)
print(sli[0:3])

Python Programming
Pyt

4. Write a code to convert the string "hello" to uppercase.

In [36]:
upp = "hello"
print(upp)
print(upp.upper())

hello
HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [37]:
a = "I like apple"
print(a)
print(a.replace("apple", "orange"))

I like apple
I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [38]:
l = [1, 2, 3, 4, 5]
print(l)
print(type(l))

[1, 2, 3, 4, 5]
<class 'list'>

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [39]:
l1 = [1, 2, 3, 4]
print(l1)
l1.append(10)
print(l1)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [40]:
l2 = [1, 2, 3, 4, 5]
print(l2)
l2.remove(3)
print(l2)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [41]:
l3 = ["a", "b", "c", "d"]
print(l3)
print(l3[1])

['a', 'b', 'c', 'd']
b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [42]:
l4 = [10, 20, 30, 40, 50]
print(l4)
l4.reverse()
print(l4)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [43]:
t = (100, 200, 300)
print(t)
print(type(t))

(100, 200, 300)
<class 'tuple'>

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [44]:
t1 = ("red", "green", "blue", "yellow")
print(t1)
print(t1[-2])

('red', 'green', 'blue', 'yellow')
blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [45]:
t2 = (10, 20, 5, 15)
print(t2)
print(min(t2))

(10, 20, 5, 15)
5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [46]:
t3 = ("dog", "cat", "rabbit")
print(t3)
print(t3.index("cat"))

('dog', 'cat', 'rabbit')
1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [47]:
t4 = ("apple", "mango", "kiwi")
for i in t4:
    if(i == "kiwi"):
        print("kiwi is present")

kiwi is present

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [48]:
s = {"a", "b", "c"}
print(s)
print(type(s))

{'a', 'b', 'c'}
<class 'set'>

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [49]:
s1 = {1, 2, 3, 4, 5}
print(s1)
s1.clear()
print(s1)

{1, 2, 3, 4, 5}
set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [50]:
s2 = {1, 2, 3, 4}
print(s2)
s2.remove(4)
print(s2)

{1, 2, 3, 4}
{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [51]:
s3 = {1, 2, 3}
s4 = {3, 4, 5}
print(s3)
print(s4)
print(s3 | s4)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [52]:
s5 = {1, 2, 3}
s6 = {3, 4, 5}
print(s5)
print(s6)
print(s5 & s6)

{1, 2, 3}
{3, 4, 5}
{3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [53]:
d = {"name": "Neeraj", "age": 24, "city": "Jaunpur"}
print(d)
print(type(d))

{'name': 'Neeraj', 'age': 24, 'city': 'Jaunpur'}
<class 'dict'>

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [54]:
d1 = {"name": "John", "age": 30}
print(d1)
d1["country"] = "USA"
print(d1)

{'name': 'John', 'age': 30}
{'name': 'John', 'age': 30, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [55]:
d2 = {"name": "Alice", "age": 34}
print(d2)
print(d2["name"])

{'name': 'Alice', 'age': 34}
Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [56]:
d3 = {"name": "Bob", "age": 22, "city": "New York"}
print(d3)
d3.pop("age")
print(d3)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [57]:
d4 = {"name": "Alice", "city": "Paris"}
for i in d4:
    if(i == "city"):
        print("city is present")

city is present

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [59]:
# List
list = ["Neeraj", "2", 3, 40.1, True, 2+1j]
print(list)
print(type(list))

['Neeraj', '2', 3, 40.1, True, (2+1j)]
<class 'list'>

In [60]:
# Tuple
tuple = ("Neeraj", "2", 3, 40.1, True, 2+1j)
print(tuple)
print(type(tuple))

('Neeraj', '2', 3, 40.1, True, (2+1j))
<class 'tuple'>

In [61]:
# Dictionary
dict = {1: "a", "b": 1, "c": True}
print(dict)
print(type(dict))

{1: 'a', 'b': 1, 'c': True}
<class 'dict'>

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [62]:
l5 = [20, 34, 12, 98, 77]
print(l5)
l5.sort()
print(l5)

[20, 34, 12, 98, 77]
[12, 20, 34, 77, 98]

28. Write a code to create a list with strings and print the element at the third index.

In [64]:
l6 = ["apple", "neeraj", "shukla", "mango", "tomato"]
print(l6)
print(l6[2])

['apple', 'neeraj', 'shukla', 'mango', 'tomato']
shukla

29. Write a code to combine two dictionaries into one and print the result.

In [65]:
d5 = {"a": 1, "b": 2}
d6 = {"c": 3, "d": 4}
print(d5)
print(d6)
print(d5 | d6)

{'a': 1, 'b': 2}
{'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [66]:
l6 = ["apple", "neeraj", "shukla", "mango", "tomato"]
print(l6)
print(type(l6))
s7 = set(l6)
print(s7)
print(type(s7))

['apple', 'neeraj', 'shukla', 'mango', 'tomato']
<class 'list'>
{'mango', 'shukla', 'neeraj', 'tomato', 'apple'}
<class 'set'>